@import "~materialize-css/dist/css/materialize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

h1, .brand-logo {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
}

.header {
  text-align: center;
}

.btn > * {
  pointer-events: none;
}

@media (min-width: 768px) {
  nav .nav-wrapper {
    padding: 0 2rem;
  }  
}

.card {
  border-radius: 8px;
}

.card .card-action:last-child {
  border-radius: 0 0 8px 8px;
}

.btn, .btn-large, .btn-small, .btn-flat {
  border-radius: 4px;
  margin-right: .5rem;
}

.link-card__text {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.link-card__text p {
  word-break: break-word;
}

.rotate-device {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.rotate-device img {
  width: 100%;
  max-width: 10rem;
}

@media all and (orientation:portrait) {
  .rotate-device {
    display: flex;
  }
}